.Typewriter {
    padding: 0.5rem;
    text-align: center;
    overflow: hidden;
    width:85%;
    font-weight: bold;
    color: #ffffff;
    border-bottom: 3px solid  rgb(255, 255, 255);
    position: relative;
    font-size: 45px;
    margin:15px;
  }

p {
    text-align: center;
    overflow: hidden;
    width: 85%;
    font-weight: bold;
    color: #ffffff;
    position: relative;
    font-size: 45px;
    margin: 15px;
    width:100%;
}